:host {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.time-input {
  width: 120px;
  margin-left: 16px;
}

.project-input {
  width: 240px;
}

.description-input {
  width: calc(100% - 440px);
  min-width: 240px;
  margin-left: 16px;
}
