<app-date-selector></app-date-selector>
<div
  *ngIf="projectEntries$ | async as projectEntries"
  cdkDropList
  (cdkDropListDropped)="droppedProjectEntry($event)"
  class="drop-list"
>
  <div
    *ngFor="
      let projectEntry of projectEntries;
      trackBy: trackById;
      let index = index
    "
    cdkDrag
    class="project-entry"
    [class.is-awesome-workshop]="projectEntry.projectCode === 'AWORK'"
    [class.is-gends]="projectEntry.projectCode === 'GENDS'"
  >
    <app-project-entry [projectEntry]="projectEntry"></app-project-entry>
    <button
      mat-icon-button
      [disabled]="projectEntries.length <= 1"
      (click)="removeProjectEntry(projectEntry)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<add-project-entry></add-project-entry>
