<app-date-selector></app-date-selector>
<div
  *ngIf="projectEntries$ | async as projectEntries"
  cdkDropList
  (cdkDropListDropped)="droppedProjectEntry($event)"
  class="drop-list"
>
  <div
    *ngFor="
      let projectEntry of projectEntries;
      trackBy: trackById;
      let index = index
    "
    cdkDrag
    class="project-entry"
    [class.is-awesome-workshop]="projectEntry.projectCode === 'AWORK'"
    [class.is-gends]="projectEntry.projectCode === 'GENDS'"
  >
    <app-project-entry [projectEntry]="projectEntry"></app-project-entry>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="duplicateProjectEntry(projectEntry)">
        <mat-icon>content_copy</mat-icon>
        <span>Duplicate</span>
      </button>
      <button
        mat-menu-item
        [disabled]="projectEntries.length <= 1"
        (click)="removeProjectEntry(projectEntry)"
      >
        <mat-icon>delete</mat-icon>
        <span>Remove entry</span>
      </button>
    </mat-menu>
  </div>
</div>
<app-add-project-entry></app-add-project-entry>
